<div class="app-container">
  <header class="site-header">
    <h1>Fret Foo</h1>
    <p class="tagline">Visual tools for creative guitarists</p>
  </header>
  <main class="main-content">
    <section class="component-section">
      <div class="selector-div">
        <app-scale-selector></app-scale-selector>
      </div>
    </section>
    <section class="component-section" style="">
      <app-fretboard></app-fretboard>
    </section>
    <section class="component-section">
      <app-circle-of-fifths (keySelected)="onKeySelect($event)"></app-circle-of-fifths>
    </section>
  </main>
</div>
