#fretboard {
  display: flex;
  justify-content: center;
}

.fretboard-container {
  max-width: 1100px; /* Match other sections' width or adjust accordingly */
  margin: 0 auto; /* Centers the container horizontally */
  padding: 0 0px; /* Optional: give some horizontal breathing room */
  overflow-x: auto; /* Optional: allow scrolling on smaller screens */
}

#fretboard svg {
  display: block;
  margin: 0 auto; /* Center the SVG within the container */
}
